* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.container {
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
    padding: 60px 30px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
}

input {
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid #585858;
    color: #585858;
    padding: 2px 15px;
}

input:focus {
    outline: none;
    border-bottom: 2.4px solid #9333ea;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-wrapper input {
    width: 100%;
}

button {
    display: block;
    background-color: #9333ea;
    border: none;
    color: #ffffff;
    margin: 20px auto 0 auto;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 5px;
}

#result {
    background-color: #9333ea;
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    border-radius: 5px;
}

#result div {
    margin-bottom: 10px;
}

#result span {
    color: #ffffff;
    font-weight: 500;
}